/* SMALL HEADER */
.small-header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-logo {
    width: 38px;
    height: 38px;
    object-fit: contain;
}

/* SIDEBAR */
.sidebar {
    min-height: calc(100vh - 64px - 50px);
    /* header + footer */
}

/* MAIN IFRAME AREA */
.content-frame {
    width: 100%;
    height: calc(100vh - 64px - 50px);
    /* header + footer */
    border: none;
    background: #fff;
}

/* FOOTER */
.footer {
    height: 50px;
    line-height: 50px;
}